PORT=5000
JWT_SECRET=replace_with_a_long_random_secret
WHATSAPP_OWNER=91XXXXXXXXXX
MONGODB_URI=mongodb+srv://meditrack:Medi1234@cluster0.mm4ismo.mongodb.net/meditrack?retryWrites=true&w=majority&appName=Cluster0
